[toolchain]
anchor_version = "0.32.1"
solana_version = "2.3.13"
package_manager = "npm"

[features]
resolution = true
skip-lint = false

[programs.devnet]
ghostspeak_marketplace = "4wHjA2a5YC4twZb4NQpwZpixo5FgxxzuJUrCG7UnF9pB"

[programs.localnet]
ghostspeak_marketplace = "4wHjA2a5YC4twZb4NQpwZpixo5FgxxzuJUrCG7UnF9pB"

# [programs.mainnet]
# # TODO: Update this with actual mainnet program ID after deployment
# ghostspeak_marketplace = "MAINNET_PROGRAM_ID_HERE"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

# Mainnet provider configuration (use when deploying to mainnet)
# [provider.mainnet]
# cluster = "mainnet"
# wallet = "~/.config/solana/mainnet-deployer.json"

[workspace]
members = ["programs"]

[scripts]
build = "npm run build"
deploy = "npm run deploy"
lint = "npm run lint:rust"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests-js/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[test.validator]
bind_address = "0.0.0.0"
url = "http://127.0.0.1:8899"
ledger = ".anchor/test-ledger"
limit_ledger_size = "10000"
rpc_port = 8899

[[test.validator.clone]]
address = "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"

[[test.validator.clone]]
address = "ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL"

[[test.validator.clone]]
address = "11111111111111111111111111111111"
